<mat-toolbar id="toolbar">
  <span>My todo lists</span>
</mat-toolbar>
<div class="todoapp" cdkDropListGroup>
  <div class="row">
    <div class="column" *ngFor="let list of todoLists">
      <mat-card class="card dark-text">
        <mat-card-title class="dark-text flex">
          <input [(ngModel)]="list.title" (change)="saveTodoLists()" matInput />
          <div class="icon-container">
            <mat-icon class="edit-icon">edit</mat-icon>
          </div>
        </mat-card-title>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Add todo"
            [(ngModel)]="list.newItem.title"
            (keyup.enter)="addTodo(list)"
          />
        </mat-form-field>
        <mat-card-content>
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="list.todos"
            class="list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="list-item" *ngFor="let todo of list.todos" cdkDrag>
              <mat-checkbox
                class="full-width dark-text"
                [(ngModel)]="todo.complete"
                (change)="saveTodoLists()"
              >
                <span [className]="todo.complete ? 'strikethrough' : ''">{{todo.title}}</span>
              </mat-checkbox>
              <button
                mat-icon-button
                class="remove-btn"
                (click)="removeTodo(todo)"
              >
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
