* {
  box-sizing: border-box;
}

#toolbar {
  display: flex;
  justify-content: center;
  font-size: 26px;
  color: white;
  background-color: #112b2b;
  height: 80px;
}

.card {
  max-width: 400px;
  min-width: 200px;
  margin: 20px;
}

 ::ng-deep.mat-form-field-underline {
  background-color: #00b0b9 !important;
}

.dark-text {
  color: #112b2b;
}

.flex {
  display: flex;
}

.icon-container {
  width: 40px;
}

.edit-icon {
  display: none;
	transition: color 0.2s ease-out;
}

mat-card-title:hover .edit-icon {
	display: block;
}

.full-width {
  width: 100%
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  float: left;
  padding: 10px;
}

.remove-btn {
	display: none;
	color: gray;
	transition: color 0.2s ease-out;
}

.list-item:hover .remove-btn {
	display: block;
}

.strikethrough{
  text-decoration: line-through;
}

.list-item {
  height: 50px;
  padding: 4px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-item:last-child {
  border: none;
}

.list {
  min-height: 60px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
  .row {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }
  .row {
    display: block;
  }
}
